# General
*.class
*.log
*.pyc
*.swp
.DS_Store

# Editor-specific
.atom/
.buildlog/
.history
.svn/
.idea/
*.iml
*.ipr
*.iws

# Migration working directories
migrate_working_dir/

# IntelliJ-related
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
# Uncomment the following line if you don't want to include VS Code config in your repo.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Symbolication and Obfuscation related
app.*.symbols
app.*.map.json

# Android-specific
/android/app/debug
/android/app/profile
/android/app/release

# Other common unnecessary files
*.bak
*.tmp
*.old
*.swp
*.lock
*.cache
